@import "../../variables";

#login {
	width: 100%;
	height: calc(100vh - $header_height);
	display: flex;
	justify-content: center;
	align-items: center;

	#smol-login {
		box-shadow: 2px 2px 2px 2px lightgray;
		width: $login_height;
		height: $login_height;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-top: -$login_height /2;
		padding: 100px;
		background-color: #F0F0F0;

		* {
			cursor: pointer;
		}

		button {
			margin-top: 15px;
		}

		.error-message {
			margin-top: 10px;
		}
	}
}