#register {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;

	* {
		cursor: pointer;
	}

	input {
		margin-top: 10px;
	}

	button {
		margin-top: 20px;
	}

	.error-message {
		margin-top: 10px;
	}
}