.exercise {
	width: 100%;
	height: fit-content;

	&.scrollable {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.exercise-content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 12px;

		.exercise-text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			div:nth-child(1) {
				display: flex;
				flex-direction: row;
				gap: 8px;

				*:nth-child(2n) {
					font-size: 1.5rem;
					line-height: 1.5rem;
				}
			}

			div:nth-child(2)>* {
				font-size: 2.2rem;
				margin-bottom: 0.6rem;
			}

			div:nth-child(3) {
				display: flex;
				flex-direction: row;
				gap: 24px;
			}
		}

		.exercise-likes {
			display: flex;
			align-items: center;

			&>*:nth-child(1) {
				margin-right: 0.4rem;
			}

			&>*:is(:nth-child(1), :nth-child(2)) {
				font-size: 1.8rem;
			}

			&>*:nth-child(3) {
				margin-left: 1.4rem;
				margin-right: 1rem;
				font-size: 2.8rem;
			}
		}
	}
}