.editable-node {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}